{% extends 'layout.jinja2' %}

{% block styles %}

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/forms.css') }}"
        type="text/css"
    />

{% endblock %}

{% block content %}

    <div class="form-wrapper">
      <h2 class="title">Set LEDs for Lightymon</h2>

      <form method="POST" action="{{ url_for('setleds') }}">
          {{ form.csrf_token }}

          <fieldset class="form-field">{{ form.hled.label }} {{ form.hled }}
            {% if form.hled.errors %}
              <ul class="errors">
                {% for error in form.hled.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </fieldset>
		  
		  <fieldset class="form-field">{{ form.vled.label }} {{ form.vled }}
            {% if form.vled.errors %}
              <ul class="errors">
                {% for error in form.vled.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </fieldset>

          <fieldset class="form-field">{{ form.options.label }} {{ form.options }}
            <i class="fas fa-caret-down"></i>
            {% if form.options.errors %}
              <ul class="errors">
                {% for error in form.options.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </fieldset>

          
          {{ form.submit }}

      </form>
    </div>

{% endblock %}
