<form method="POST">
	<label for="ledh">Select number of leds horizontally:</label>
    <input type="text" id="ledh" name="ledh"><br><br>
    <label for="ledv">Select number of leds vertically:</label>
    <input type="text" id="ledv"  name="ledv"><br><br>
    
    <label>Select where the led chain starts:
      <select name="index_option" size="4">
        <option>Right/bottom corner and goes up</option>
        <option>Left/bottom corner and goes up</option>
        <option>Center/bottom and goes right</option>
        <option>Center/bottom and goes left</option>
      </select>
 	</label>
    <br><br>
    <input type="submit" value="Submit">
</form>