<!DOCTYPE html>
<html>
<body>
	<h2>Set LEDs for Lightymon</h2>
		<form method="POST">
			<div id="div_ledh">
			  <label for="ledh">Select number of leds horizontally:</label><br>
			  <input type="text" id="ledh" name="ledh" value="26">
			</div>
			  <br>
			<div id="div_ledv">
			  <label for="ledv">Select number of leds vertically:</label><br>
			  <input type="text" id="ledv" name="ledv" value="16">
			</div>
			  <br><br>
			<div id="div_options">
			  <label for="options">Select where the led chain starts:</label>
			  <select id="options" name="options">
				<option value="right">Right/bottom corner and goes up</option>
				<option value="left">Left/bottom corner and goes up</option>
				<option value="center_right">Center/bottom and goes right</option>
				<option value="center_left">Center/bottom and goes left</option>
			  </select>
			</div>
			  <br><br>
			<div id="div_center_corner">
			  <label for="center_corner">How many leds from the center to the corner or the screen?</label><br>
			  <input type="text" id="center_corner" name="center_corner" value="16" onclick="ShowHideDiv()">
			</div>
			  <br><br>
			<input type="submit" value="Submit">
		</form> 
</body>
</html>
